
body{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.nav-stacked>li+li{
    margin-left: 10px;
}
.nav-pills>li+li{
    margin-left: 10px;
}


.nav-stacked{
    width: 150px;
    height: 720px;
    margin-left: 30px;
    background-color: #B6E5E7;
}

/*全部订单、已完成订单、未完成订单*/
.li1{
    height: 50px;
    font-size: 5px;
    padding-left: -10px;
}
.li1:hover{
    color: white;
    background-color: #B6E5E7;
    cursor: pointer;
}

.dropdown-menu{
    background-color: #B6E5E7;
    min-width: 135px;
}

.dropdown:hover{
    background-color: #B6E5E7;
}

.dropdown-toggle{
    background-color: #B6E5E7;
}
.orderSpan:hover{

    color: black;
    cursor: pointer;
}

.slideLi{
    height: 60px;
    margin-left: 10px;
}
.slideLi:hover{
    color: white;
    cursor: pointer;
    background-color: #B6E5E7;

}


/*#checkOrderLi{*/
    /*height: 60px;*/
/*}*/

p{
    font-size: 20px;
}
#userInfoDiv{
    /*display: none;*/
}

/*用户id p标签标题*/
.pUserID{
    margin-left: 370px;
    margin-top: 30px;

}
/*用户id p标签内容*/
#pUserID{
    text-decoration: underline;
    letter-spacing: 1px;

    margin-left: 450px;
    margin-top: -39px;
}

/*用户邮箱 p标签*/
.pUserMail{
    margin-left: 390px;
    margin-top: 60px;

}
/*用户邮箱 p标签内容*/
#pUserMail{
    text-decoration: underline;
    margin-left: 450px;
    margin-top: -39px;
    letter-spacing: 1px;
}

/*会员等级 p标题*/
.pVip{
    margin-left: 350px;
    margin-top: 60px;
}

/*取消会员 按钮*/
#cancelVIP{
    margin-left: 580px;
    margin-top: -70px;
    font-size: 2px;

}

/*会员等级 p内容*/
#pVipGrade{
    text-decoration: underline;
    letter-spacing: 1px;
    margin-left: 450px;
    margin-top: -39px;
}

#pVipScore{
    text-decoration: underline;
    letter-spacing: 1px;
    margin-left: 450px;
    margin-top: -39px;
}

/*会员优惠券*/
.pCoupon{
    margin-left: 330px;
    margin-top: 50px;
}

#pCoupon{
    text-decoration: underline;
    letter-spacing: 2px;
    margin-left: 450px;
    margin-top: -39px;
}


/*查看优惠券按钮*/
#seeCoupon{
    margin-left: 560px;
    margin-top: -75px;
    font-size: 2px;
}


#changePasswordDiv{
    /*display: none;*/
}

/*修改密码表单*/
.changePasswordForm{
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
/*修改密码按钮*/
#changePasswordBtn{
    margin-left: 300px;
}

#vipGradeFormDiv{
    /*display: none;*/
}

/*会员等级对照表*/
.vipGradeTable{
    margin-left: 200px;
    width: 90%;
}

/*可以使用的优惠券*/
#myCoupon{
    width: 900px;
    margin-left: 280px;
}

#myCoupon, #myCoupon li {
    list-style:none; /* 将默认的列表符号去掉 */

}

#myCoupon li{
    /*float: left;*/
    display: block;
    width: 350px;
    text-align: center;
    padding:8px 50px; /* 设置内边距 */
    margin: 0 0 5px 6px;
    height: 100px;
    border-radius: 15px;
    background-color: #A3E0B1;
    color: white;

}

/*已失效的优惠券*/
#hasUsedCoupon{
    width: 900px;
    margin-left: 280px;
}

#hasUsedCoupon, #hasUsedCoupon li {
    list-style:none; /* 将默认的列表符号去掉 */

}

#hasUsedCoupon li{
    /*float: left;*/
    display: block;
    width: 350px;
    text-align: center;
    padding:8px 50px; /* 设置内边距 */
    margin: 0 0 5px 6px;
    height: 100px;
    border-radius: 15px;
    background-color: #C65375;
    color: white;

}

#getCouponDiv h4{
    margin-left: 30px;
}

/*会员积分 （兑换优惠券）*/
#myScoreP{
    margin-left: 120px;
    margin-top: -35px;
    letter-spacing: 1px;
    text-decoration: underline;
}

/*积分兑换表格*/
#converCouponTable{
    margin-left: 40px;
    margin-top: 50px;
}

@font-face {
    font-family: 'iconfont';  /* project id 569287 */
    src: url('//at.alicdn.com/t/font_569287_wwjziztudefusor.eot');
    src: url('//at.alicdn.com/t/font_569287_wwjziztudefusor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_569287_wwjziztudefusor.woff') format('woff'),
    url('//at.alicdn.com/t/font_569287_wwjziztudefusor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_569287_wwjziztudefusor.svg#iconfont') format('svg');
}

.slideUserInfo{

    font-family:"iconfont" !important;
    font-size:25px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}