#performTable{
    margin-top: 40px;
}

.tableHeaderRow{
    background-color: #B6E5E7;
}

.tableColumn{
    color: white;
}
.navbar{
    background-color: #6EC6CF;
}

/*
.user{
    margin-left: 950px;
    margin-top: 10px;
}
*/
.item{
    margin-left: 420px;
}



.iconColumn {
    width: 2em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.performName:hover{
    color: #C44F63;
    cursor: pointer;
}


.performVenue:hover{
    color: #C44F63;
    cursor: pointer;
}